footer{
    margin-top: 100px;
    width: 100%;
    padding: 50px 0 50px 0;
    background-color: black;
    .footerContent{
        display: flex;
        justify-content: space-between;
        width: 90%;
        margin: 0 auto;
        ul{
            color: white;
            font-weight: bold;
            li{
                list-style: none;
                margin-bottom: 5px;
                a{
                    text-decoration: none;
                    color: white;
                }
            }
        }
    }
}